[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
newspaper3k = "*"
ipykernel = "*"
pandas = "*"
streamlit = "*"
"google.cloud" = "*"
google-cloud-translate = "==2.0.1"
google-cloud-storage = "*"
google = "*"
"google.oauth2" = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
